@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 style="padding-top : 20px;">Consumir API com HttpClientFactory</h3>
    <img src="~/imagens/consomeapi1.jpg" asp-append-version="true" style="padding-top : 50px; />
</div>
